* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerContainer {
  background-color: #0ee1e1;
  color: black;
  width: 0 auto;
  height: 580px;
  text-align: center;
}

.headerContainer h1 {
  padding-top: 200px;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

.headerContainer p {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: bold;
}

.imagebox {
  position: relative;
  text-align: center;
}
.imagebox img {
  position: absolute;
  right: 400px;
  bottom: 1px;
  width: 325px;
  height: 267px;
}

.BoxsContainer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 10px;
  height: 400px;
}

.Box {
  width: 350px;
  height: 320px;
  background-color: #f8f8f8;
  color: black;
  border-radius: 1px;
  text-align: center;
  justify-content: center;
  justify-items: center;
  padding: 10px;
}

.Box img {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.Box p {
  color: #0ee1e1;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
}

.Box h3 {
  font-weight: bold;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
}

.FooterBox {
  display: flex;
  height: 800px;
  width: 0 auto;
  background-color: #f8f8f8;
  border: 1px solid #0ee1e1;
}
.footerLeft {
  background-color: #f0ffff;
}

.footerRight {
  background-color: #0ee1e1;
}
