* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: ltr;
}
body {
  justify-content: right;
  text-align: right;
}

.BoxWhatsapp {
  border-radius: 55%;
  width: 50px;
  height: 50px;
  justify-content: center;
  justify-items: center;
}

.PhoneImage {
  height: 800px;
  width: auto;
}

.WhatsappImage {
  width: 40px;
  height: 40px;
  background-color: #fdbd03;
  border-radius: 60%;
}

.BoxPhone {
  height: 500px;
  width: auto;
  position: absolute;
  right: 0;
}

.BoxForm {
  position: absolute;
  left: 600px;
  top: 200px;
}

.forme h1 {
  color: #ffaa00;
  opacity: 1;
  font-size: 2.5rem;
  font-weight: bolder;
  padding: 6px;
  margin-bottom: 15px;
}

.forme h2 {
  font-size: 18pt;
  margin-bottom: 40px;
}

.forme label {
  display: block;
  font-weight: bold;
  text-align: right;
}

.forme input[type="text"],
input[type="email"] {
  width: 300px;
  padding: 10px;
  margin: 5px;
  border-radius: 1px;
  background-color: #e5eeff;
  border: none;
  border-bottom: 2px solid #fdbd03;
}

.forme label[for="details"] {
  padding: 5px;
}

.forme textarea {
  justify-content: right;
  text-align: right;
  justify-items: right;
  background-color: #e5eeff;
  border: none;
  border-bottom: 2px solid #fdbd03;
  direction: rtl;
  float: right;
  width: 300px;
  height: 100px;
  margin-bottom: 30px;
}

.forme input [type="button"] {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: #ffaa00;
}
