* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin-top: 60px;
  justify-content: center;
  text-align: center;
  scroll-margin-top: 60px;
}

.NavBarFixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.ProfilePictureNavBar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 5px;
  top: 0;
  border: 1px solid black;
  box-shadow: 0 0 5px darkcyan;
}

.ProfilePictureSection {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0 0 15px;
  border: 1 solid black;
  box-shadow: 0 0 10px darkcyan;
}

.NavBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px black;
  border-radius: 2px;
  text-decoration: none;
  list-style-type: none;
  color: darkcyan;
}

.NavBarFixed ul li a {
  color: darkcyan;
}

.NavBarFixed ul li a:hover {
  text-decoration: underline;
}

.Home {
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 10px;
  background-color: darkcyan;
  height: 200px;
}

.TechnologyPicture {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0 0 4px;
}

.TechnologyPicture img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.SectionProfilePicture {
  padding-top: 20px;
  padding-bottom: 10px;
}

.AboutMe {
  margin: 0 auto;
  line-height: 2em;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  width: 0 auto;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.685);
}

.AboutMe h2 {
  text-decoration: underline;
  color: darkcyan;
  font-size: 1.5em;
}

.Resume {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: darkcyan;
  border: 1px solid black;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

.Resume:hover {
  text-decoration: underline;
}

.Resume:active {
  background-color: #0056b3;
  transform: scale(0.95);
}

.ResumeIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.ProjectSection {
  margin-top: 2%;
  height: 900px;
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.685);
}
.ProjectSection h2 {
  color: darkcyan;
  line-height: 2em;
  font-size: 1.2em;
  text-decoration: underline;
}

.ProjectBox {
  display: grid;
  justify-content: space-evenly;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 50px;
}

.ProjectContainer {
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
}

.ProjectContainer p {
  padding-bottom: 10px;
  padding-top: 10px;
}

.ProjectContainer img {
  width: 300px;
  height: 200px;
  border-radius: 30px;
  margin: 5px;
  padding: 10px;
  box-shadow: 0 0 5px black;
  background-color: darkcyan;
}

.ProjectButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: darkcyan;
  border: 1.5px solid black;
  border-radius: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  box-shadow: 0 4px 4px -1px rgba(0, 0, 0, 0.685);
}

.ProjectBotton:hover {
  text-decoration: underline;
}

.ProjectBotton:active {
  background-color: #0056b3;
  transform: scale(0.95);
}

.Contact {
  /*   background-image: url("Images/EmailBackgroundPicture.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContactMe {
  margin-top: 2%;
  margin-bottom: 2%;
}
.ContactMe h2 {
  color: darkcyan;
  text-align: center;
  font-size: 1.2em;
  text-align: center;
  justify-content: center;
  text-decoration: underline;
}

.Form {
  position: relative;
  z-index: 1;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  border: 2px solid black;
  background-color: darkcyan;
}

.Form label {
  font-weight: bold;
  margin-bottom: 4px;
  left: 0;
}

.Form input[type="text"],
.Form input[type="tel"],
.Form input[type="email"],
.Form textarea {
  width: 70%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.Form textarea {
  text-align: left;
}

.Form input[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Form input[type="submit"]:hover {
  background-color: rgb(101, 101, 101);
}

.SocialMediaBar {
  display: flex;
  height: 40px;
  width: 0 auto;
  background-color: darkcyan;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.SocialMediaBar svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Footer {
  background-color: black;
  color: darkcyan;
  font-size: 10pt;
}
