/* The CSS of the Main page index.html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin-top: 60px;
  justify-content: center;
  text-align: center;
  scroll-margin-top: 60px;
}

.NavBarFixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.ProfilePictureNavBar {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin: 5px;
  top: 0;
  border: 1px solid black;
  box-shadow: 0 0 5px rgb(0, 139, 139);
}

.ProfilePictureSection {
  width: 250px;
  height: 300px;
  border-radius: 50%;
  margin: 5px;
  box-shadow: 0 0 15px;
  border: 1 solid black;
  box-shadow: 0 0 10px darkcyan;
}

.NavBar {
  display: flex;
  justify-content: stretch;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px black;
  border-radius: 2px;
  text-decoration: none;
  list-style-type: none;
  color: darkcyan;
}

.NavBarFixed a h3 {
  color: darkcyan;
}

.NavBarFixed a h3:hover {
  text-decoration: underline;
  cursor: pointer;
}

.Home {
  line-height: 1.5;
  font-size: 1.5rem;
  padding: 10px;
  background-color: darkcyan;
  height: 200px;
}

.TechnologyPicture {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0 0 4px;
}

.TechnologyPicture img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.SocialMediaBar {
  display: flex;
  height: 40px;
  width: 0 auto;
  background-color: darkcyan;
  color: white;
  justify-content: space-around;
  align-items: center;
}
.SocialMediaBar svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.Footer {
  background-color: black;
  color: darkcyan;
  font-size: 10pt;
  bottom: 0;
}
